<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="balti.filex">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application>
        <activity android:name="balti.filex.activity.SysFilePickerActivity"/>
        <activity android:name="balti.filex.activity.TraditionalFileRequest"
            android:theme="@style/Theme.Transparent"
            />
    </application>
</manifest>